html, body, .content-main { 
      padding-left: 15px; 
  padding-right: 15px; 
}

.content-main {
    min-height: 40vh;
}


    html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      overflow-x: hidden; /* Prevent horizontal overflow */
    }
    
    /* Set the content-main to be responsive and fit within the viewport */
    .content-main {
      width: 100%;
      max-width: 100%; /* Prevent content from exceeding viewport width */
      box-sizing: border-box; /* Include padding and border in the element's total width and height */
    }
    
    /* Styling for buttons */
    .btn, .btn-primary {
      display: inline-block;
      line-height: 1.3;
      text-align: center !important;
      text-decoration: none;
      vertical-align: middle;
      cursor: pointer;
      background-color: var(--color-dark-blue);
      border: 1px solid var(--color-dark-blue);
      color: var(--color-white);
      transition: all 0.3s ease-in-out;
      padding: 0.5rem 1rem;
      font-size: 0.9rem;
      font-weight: 600;
      letter-spacing: 1px;
      border-radius: 0.25rem;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    
    .btn:hover,
    .btn:focus,
    .btn-primary:hover,
    .btn-primary:focus {
      background-color: #92bce0 !important;
      border: 1px solid #007fa3 !important;
      color: #333 !important;
      text-decoration: none;
    }
    
    /* Container and Fullwidth Adjustments */
    .container, .content-fullwidth {
      width: 100%;
      max-width: 100%;
      margin: auto;
      margin-top: 10vh;
    }
    
    @media (min-width: 768px) {
      .container, .content-fullwidth {
        max-width: 750px; /* Small devices (≥768px) */
      }
    }
    
    @media (min-width: 992px) {
      .container, .content-fullwidth {
        max-width: 970px; /* Medium devices (≥992px) */
      }
    }
    
    @media (min-width: 1200px) {
      .container, .content-fullwidth {
        max-width: 1170px; /* Large devices (≥1200px) */
      }
    }

            /* Ensure the buttons stack vertically and take full width on small screens */
    @media (max-width: 482px) {
      #ctl00_main_ctl20_ctl01_ctl06_pnlInternalAuthLogin .btn {
        display: block;
        width: 100%; /* Make buttons take up the full width of their parent container */
        margin-bottom: 10px; /* Add spacing between stacked buttons */
      }
      
      #ctl00_main_ctl20_ctl01_ctl06_pnlInternalAuthLogin .form-group {
        margin-bottom: 15px; /* Add spacing between form groups */
      }
    }
    
    /* Optional: Adjust button styles if needed */
    .btn {
      box-sizing: border-box; /* Ensure padding and borders are included in the element's total width */
    }
    
    .btn-primary, .btn-action, .btn-link {
      text-align: center; /* Center text within the buttons */
    }