<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="https://people.thewoodlandsmethodist.org/Themes/TWMC2022/Styles/bootstrap.css?v1.0.22"
    />
    <link
      rel="stylesheet"
      href="https://people.thewoodlandsmethodist.org/Themes/TWMC2022/Styles/theme.css?1.0.22"
    />
    <link rel="stylesheet" href="./css/twms-main.css" />
  </head>
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-expand-lg twms__navbar">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header twms__navbar-header">
        <button
          type="button"
          class="navbar-toggle collapsed twms__navbar-toggle"
          data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar twms__icon-bar"></span>
          <span class="icon-bar twms__icon-bar"></span>
          <span class="icon-bar twms__icon-bar"></span>
        </button>
        <a href="/home.html">
          <img
            src="https://rockrms-assets.s3.us-east-2.amazonaws.com/images/twms/twms-logo-white.png"
            alt=""
            class="twms__logo"
          />
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div
        class="collapse navbar-collapse twms__navbar-collapse"
        id="bs-example-navbar-collapse-1"
      >
        <ul class="nav navbar-nav navbar-right twms__navbar-right">
          <!-- Discovery -->
          <li class="dropdown">
            <a
              href="#"
              class="dropdown-toggle twms__nav-link"
              data-toggle="dropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >Discovery <span class="caret"></span
            ></a>
            <ul class="dropdown-menu twms__dropdown-menu">
              <li><a href="welcome.html" class="twms__nav-link">Welcome</a></li>
              <li>
                <a href="about.html" class="twms__nav-link">About Our School</a>
              </li>
              <li>
                <a href="mission-guiding-principles.html" class="twms__nav-link"
                  >Mission &amp; Guiding Principles</a
                >
              </li>
              <li>
                <a href="profile.html" class="twms__nav-link">School Profile</a>
              </li>
              <li>
                <a href="facilities.html" class="twms__nav-link">Facilities</a>
              </li>
              <li>
                <a href="staff.html" class="twms__nav-link"
                  >Faculty &amp; Staff</a
                >
              </li>
              <li>
                <a href="news.html" class="twms__nav-link">School News</a>
              </li>
              <li>
                <a href="employment.html" class="twms__nav-link">Employment</a>
              </li>
            </ul>
          </li>
          <!-- Admission -->
          <li class="dropdown">
            <a
              href="#"
              class="dropdown-toggle twms__nav-link"
              data-toggle="dropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >Admission <span class="caret"></span
            ></a>
            <ul class="dropdown-menu twms__dropdown-menu">
              <li><a href="visit.html" class="twms__nav-link">Visit</a></li>
              <li><a href="apply.html" class="twms__nav-link">Apply</a></li>
              <li>
                <a href="tuition.html" class="twms__nav-link"
                  >Tuition &amp; Fees</a
                >
              </li>
            </ul>
          </li>
          <!-- Academics -->
          <li class="dropdown">
            <a
              href="#"
              class="dropdown-toggle twms__nav-link"
              data-toggle="dropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >Academics <span class="caret"></span
            ></a>
            <ul class="dropdown-menu twms__dropdown-menu">
              <li>
                <a href="program-overview.html" class="twms__nav-link"
                  >Program Overview</a
                >
              </li>
              <li>
                <a href="elementary-school.html" class="twms__nav-link"
                  >Elementary School (Grades Pre-K - 4)</a
                >
              </li>
              <li>
                <a href="middle-school.html" class="twms__nav-link"
                  >Middle School (Grades 5 - 8)</a
                >
              </li>
              <!-- <li><a href="religious-studies.html" class="twms__nav-link">Religious Studies</a></li> -->
            </ul>
          </li>
          <!-- Student Life -->
          <li class="dropdown">
            <a
              href="#"
              class="dropdown-toggle twms__nav-link"
              data-toggle="dropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >Student Life <span class="caret"></span
            ></a>
            <ul class="dropdown-menu twms__dropdown-menu">
              <li>
                <a href="student-life-overview.html" class="twms__nav-link"
                  >Student Life Overview</a
                >
              </li>
              <li>
                <a href="athletics.html" class="twms__nav-link">Athletics</a>
              </li>
              <li>
                <a href="fine-arts.html" class="twms__nav-link">Fine Arts</a>
              </li>
              <li>
                <a href="community-service.html" class="twms__nav-link"
                  >Community Service</a
                >
              </li>
              <li>
                <a href="enrichment-activities.html" class="twms__nav-link"
                  >Enrichment Activities</a
                >
              </li>
              <li>
                <a href="meal-plan.html" class="twms__nav-link">Meal Plan</a>
              </li>
            </ul>
          </li>
          <!-- Parents -->
          <li class="dropdown">
            <a
              href="#"
              class="dropdown-toggle twms__nav-link"
              data-toggle="dropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >Parents <span class="caret"></span
            ></a>
            <ul class="dropdown-menu twms__dropdown-menu">
              <li>
                <a href="handbook.html" class="twms__nav-link">Handbook</a>
              </li>
              <li>
                <a href="school-board.html" class="twms__nav-link"
                  >School Board</a
                >
              </li>
              <li><a href="peo.html" class="twms__nav-link">P.E.O.</a></li>
              <li>
                <a
                  href="https://www.twmschool.org/wp-content/uploads/2024/02/TWMS_2024-2025_Calendar.pdf"
                  class="twms__nav-link"
                  target="_blank"
                  >Academic Calendar</a
                >
              </li>
              <li>
                <a href="eagle-club.html" class="twms__nav-link">Eagle Club</a>
              </li>
              <li>
                <a href="uniforms.html" class="twms__nav-link"
                  >Elementary & Middle School Uniforms</a
                >
              </li>
              <li>
                <a href="school-supply.html" class="twms__nav-link"
                  >School Supply List</a
                >
              </li>
              <li>
                <a href="meal-plan.html" class="twms__nav-link">Meal Plan</a>
              </li>

              <li><a href="clinic.html" class="twms__nav-link">Clinic</a></li>
            </ul>
          </li>
          <li>
            <a
              href="https://logins2.renweb.com/logins/ParentsWeb-Login.aspx"
              class="twms__nav-link twms__text-white"
              >Login</a
            >
          </li>
          <li>
            <a
              href="https://www.thewoodlandsumc.org/give-now"
              class="twms__nav-link twms__text-white"
              >Donate</a
            >
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <!-- End of Navigation -->

  <!-- Hero -->
  <section id="twms-clinic__hero" class="twms-hero__text-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="twms-hero__text">CLINIC</h1>
        </div>
      </div>
    </div>
  </section>
  <!-- End of Hero -->

<!-- Content -->
<!-- Content -->
<section class="py-5">
  <div class="container">
      <div class="row">
          <div class="col-sm-12">
              <h3 class="text-left twms__subheader-blue" >CLINIC FORMS AND INFORMATION</h3>

              <p class="text-left">
                  TWMS staffs a clinic at Elementary/Middle School. The Elementary/Middle school clinic is staffed by a full-time RN.
              </p>
              <p class="text-left">
                  Information regarding medical forms, student absences due to illness, medications, allergies, immunizations, and health screenings can be found in the Student/Parent Handbook.
              </p>
               <br/>
               
              <p class="text-left">
                  <strong>Contact Information</strong>
              </p>
      
                  <a href="tel:+12818228211"><i class="fa fa-phone pr-3" aria-hidden="true"></i> 281-822-8211</a> <br/>
                 <a href="mailto:schoolnurse@twmc.org"><i class="fa fa-envelope pr-3" aria-hidden="true"></i> schoolnurse@twmc.org</a> 
              <br/>

              <br/>

              <strong>Forms and Policies</strong>
               
                  {% for item in Items %}
                      {% assign clinic = item | Attribute:'Clinic' %}
                      {% assign filter = item | Attribute:'Filter' | Downcase %}
                      {% if clinic == 'Yes' and (filter contains 'form' or filter contains 'policy') %}
                          <li><a href="{{ item | Attribute:'Asset','Url' }}" target="_blank">{{ item | Attribute:'PublicName' }}</a></li>
                      {% endif %}
                  {% endfor %}
            

              <br/>

              <strong>Action Plan and Self Carry Forms</strong>
               
                  {% for item in Items %}
                      {% assign clinic = item | Attribute:'Clinic' %}
                      {% assign filter = item | Attribute:'Filter' | Downcase %}
                      {% if clinic == 'Yes' and (filter contains 'action' or filter contains 'self') %}
                          <li><a href="{{ item | Attribute:'Asset','Url' }}" target="_blank">{{ item | Attribute:'PublicName' }}</a></li>
                      {% endif %}
                  {% endfor %}
               

              <br/>

              <strong>Additional Information and Links</strong>
               
                  <li><a href="https://www.cdc.gov/meningitis/about/index.html" target="_blank">Meningitis Information</a></li>
                  <li><a href="https://www.dshs.texas.gov/immunizations/school" target="_blank">Texas Department of State Health Services</a></li>
                  <li><a href="https://www.nvic.org/" target="_blank">National Vaccine Information Center</a></li>
               

              <br/>

              <div class="text-left">
                  Looking for a different form? <a href="/parents/handbook" class="">Try our Handbook and Forms &#8594;</a>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- End Content -->

<!-- End Content -->


  <!-- Footer -->
  <section id="twms__footer">
    <div class="container">
      <div class="row twms__footer-wrapper">
        <div class="col-sm-3">
          <img
            src="https://rockrms-assets.s3.us-east-2.amazonaws.com/images/twms/twms-logo-white.png"
            alt=""
            class="twms__footer-logo"
          />
        </div>
        <div class="col-sm-9">
          <h4 class="twms__footer-header">
            ELEMENTARY & MIDDLE SCHOOL INFORMATION
          </h4>
          <div class="row">
            <div class="col-md-3">
              <p>
                <strong class="twms__footer-subheader"
                  >Regular Office Hours</strong
                >
                <br />8:30 a.m. &dash; 3:45 p.m., M&dash;F
              </p>
              <p>
                <strong class="twms__footer-subheader"
                  >Summer Office Hours</strong
                >
                <br />9:00 a.m. – 2:00 p.m., M–F
              </p>
            </div>
            <div class="col-md-3">
              <p>
                <strong class="twms__footer-subheader">Address</strong> <br /><a
                  href="https://goo.gl/maps/z1LHcGoMtHaSbVAFA"
                  target="_blank"
                  class="twms__footer-link"
                  >1915 Lake Front Cir The Woodlands, Texas 77380</a
                >
              </p>
            </div>
            <div class="col-md-3">
              <p>
                <strong class="twms__footer-subheader">Contact</strong>
                <br />Ken West <br />Head of School <br /><a
                  href="mailto:info@twmschool.org"
                  class="twms__footer-link"
                  >info@twmschool.org</a
                >
                <br /><a href="tel:281.822.8220" class="twms__footer-link"
                  >281.822.8220</a
                >
                <br /><a href="tel:832.381.3035" class="twms__footer-link"
                  >832.381.3035 (fax)</a
                >
              </p>
            </div>
            <div class="col-md-3">
              <p>
                <strong class="twms__footer-subheader">Social Media</strong>
                <br /><i
                  class="fab fa-facebook-square fa-2x"
                  style="margin-top: 0.1rem"
                  aria-hidden="true"
                ></i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer -->

  <!-- Scripts -->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script
    src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
    crossorigin="anonymous"
  ></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"
  ></script>
  <!-- fontawesome -->
  <script
    src="https://kit.fontawesome.com/a768a77f8f.js"
    crossorigin="anonymous"
  ></script>
  <script src="./js/twms.js"></script>
  <body></body>
</html>
