body {
  color: #5a6074;
}

h1,
h2,
h3,
h4,
h5 {
  color: #63bc47;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  color: #5a6074;
}

/* ===== Utilities ===== */
.cotw-mtxs {
  margin-top: 0.7rem;
}

.cotw--mb-0 {
  margin-bottom: 0;
}

.cotw--mt-0 {
  margin-top: 0;
}

.cotw-text--grey {
  color: #999;
}

.cotw-text--dark-grey {
  color: #5a6074;
}

.cotw-link--mb-small {
  margin-bottom: 5px;
}

.cotw-link--red {
  color: #e06666;
}

.cotw-link--red:hover,
.cotw-link--red:focus {
  color: #b35252;
}

.min-600 {
  min-height: 600px;
}

.min-800 {
  min-height: 800px;
}

.img-circle {
  border-radius: 50%;
}

.page_header_background {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    center center no-repeat;
  background-size: cover;
}

.nix_flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nix_flex a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
}

.nix__flex_link:hover {
  opacity: 0.7;
  transition: 0.4s;
}

.nix__flex_bx {
  display: flex;
  overflow: hidden;
  /* order: 1; */
  flex: 1 1 0;
  min-width: 340px;
}

.nix__flex_box_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  text-align: center;
  order: 1;
  flex: 1 1 0;
  min-width: 340px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://www.childrenofthewoodlands.org/images/008.jpg") right center
      no-repeat;
  background-size: cover;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.nix__flex_box_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  text-align: center;
  order: 2;
  flex: 1 1 0;
  min-width: 340px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://www.childrenofthewoodlands.org/images/002.jpg") right center
      no-repeat;
  background-size: cover;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.nix__flex_box_3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  text-align: center;
  order: 3;
  flex: 1 1 0;
  min-width: 340px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://www.childrenofthewoodlands.org/images/013.jpg") right center
      no-repeat;
  background-size: cover;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.nix__flex_box_4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  text-align: center;
  order: 4;
  flex: 1 1 0;
  min-width: 340px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://www.childrenofthewoodlands.org/images/004.jpg") right center
      no-repeat;
  background-size: cover;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.nix__flex_box_5 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  text-align: center;
  order: 5;
  flex: 1 1 0;
  min-width: 340px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://www.childrenofthewoodlands.org/images/015.jpg") right center
      no-repeat;
  background-size: cover;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

@media only screen and (max-width: 400px) {
  .nix__flex_box_1,
  .nix__flex_box_2,
  .nix__flex_box_3,
  .nix__flex_box_4,
  .nix__flex_box_5 {
    min-width: max-content;
    /* max-width: 100%; */
  }
}

.nix__flex_bx:hover .nix__flex_box_1,
.nix__flex_bx:focus .nix__flex_box_1,
.nix__flex_bx:hover .nix__flex_box_2,
.nix__flex_bx:focus .nix__flex_box_2,
.nix__flex_bx:hover .nix__flex_box_3,
.nix__flex_bx:focus .nix__flex_box_3,
.nix__flex_bx:hover .nix__flex_box_4,
.nix__flex_bx:focus .nix__flex_box_4,
.nix__flex_bx:hover .nix__flex_box_5,
.nix__flex_bx:focus .nix__flex_box_5 {
  transform: scale(1.1);
}

.nix_bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nix__bar_box {
  padding: 10px 0;
  flex: 1 1 0;
  min-width: 340px;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 100%;
}

.blog-date {
  color: #acadb3;
}

.btn-blog a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 576px) {
  .blog-title {
    margin-top: 2rem;
  }
}

/* Staff Page */
.twmc-flex-container--3-col__1rem-gap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
}

.twmc-flex-item--3-col__1rem-gap {
  flex-basis: 32%;
  overflow: hidden;
}

@media (max-width: 1199px) {
  .twmc-flex-container--3-col__1rem-gap {
    justify-content: center;
  }
  .twmc-flex-item--3-col__1rem-gap {
    flex-basis: 48%;
  }
}

@media (max-width: 991px) {
  .twmc-flex-container--3-col__1rem-gap {
    flex-direction: column;
  }
  .twmc-flex-item--3-col__1rem-gap {
    flex-basis: 100%;
  }
}

.twmc-flex-img--3-col__250h {
  height: 250px;
  width: auto;
  object-fit: cover;
  padding-bottom: 0.7rem;
}

.job-card {
  border: 2px solid #4f9639;
  border-radius: 5px;
}

.cotw-tr--tuition {
  vertical-align: middle;
  border-top: 1px solid black;
}

tr.cotw-tr--tuition > th > p {
  margin-bottom: 0;
}
/* ===== End of Utilities ===== */

/* ===== Typography ===== */
.cotw--textlink-green {
  color: #2a8912;
  text-decoration: none;
}

.cotw--textlink-green:hover,
.cotw--textlink-green:focus {
  color: #63bc47;
}
/* ===== End of Typography ===== */

/* INDEX - HERO SECTION */
#cotw-index-hero {
  background-image: url("https://rockrms-assets.s3.us-east-2.amazonaws.com/images/COTW_Home_Hero_BG.jpg");
  text-align: center;
  background-position: top center;
}

#cotw-index-hero--enroll {
  background-image: url("https://rockrms-assets.s3.us-east-2.amazonaws.com/images/COTW_Enrollment+2022-2023+Feature+Banner+BG.png");
  text-align: center;
  /* background-position: center left; */
}

/* Hero text */
.cotw-hero__text-wrapper {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.cotw-hero__text-enroll {
  height: 200px;
  margin-top: -40px;

  transition: all 0.3s ease-in-out;
  animation: wiggle 1.5s;
  animation-iteration-count: infinite;
}

.cotw-hero__text-hiring {
  height: 70px;
  margin-left: 10px;
  margin-top: 20px;

  transition: all 0.3s ease-in-out;
  animation: wiggle2 1.5s;

  animation-iteration-count: infinite;
}

@keyframes wiggle2 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
}

.cotw-hero__text-enroll:hover,
.cotw-hero__text-enroll:focus,
.cotw-hero__text-hiring:hover,
.cotw-hero__text-hiring:focus {
  transform: rotate(0deg);
  animation: none;
  filter: drop-shadow(0 0 0.75rem cornflowerblue);
}

.cotw-hero__img-text {
  /* padding-top: 120px; */
  padding-top: 75px;
  text-align: left;
}

.cotw-hero__img-text > a > img {
  /* height: 200px; */
  height: 250px;

  transition: all 0.3s ease-in-out;
  animation: wiggle 1.5s;

  animation-iteration-count: infinite;
}

.cotw-hero__img-text > a > img:hover {
  transform: rotate(0deg);
  animation: none;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-1deg);
  }
  40% {
    transform: rotate(1deg);
  }
  60% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}

@media only screen and (max-width: 992px) {
  .cotw-hero__img-text {
    /* padding-top: 150px; */
    padding-top: 105px;
  }

  .cotw-hero__img-text > a > img {
    /* height: 150px; */
    height: 200px;
  }
}

@media only screen and (max-width: 768px) {
  .cotw-hero__img-text {
    /* padding-top: 165px; */
    padding-top: 115px;
  }

  .cotw-hero__img-text > a > img {
    /* height: 120px; */
    height: 175px;
  }
}

@media only screen and (max-width: 400px) {
  .cotw-hero__img-text {
    /* padding-top: 175px; */
    padding-top: 130px;
  }

  .cotw-hero__img-text > a > img {
    /* height: 100px; */
    height: 160px;
  }
}

.cotw-hero-background--450h-leftalign {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  height: 450px;

  color: var(--color-white);
  text-align: left;
}

.cotw-hero-background--650h-leftalign {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  height: 650px;

  color: var(--color-white);
  text-align: left;
}

@media only screen and (max-width: 575px) {
  .cotw-hero-background--650h-leftalign {
    height: 450px;
  }
}

/* ===== HERO VIDEO ===== */
#cotw-hero-video {
  height: 600px;
  text-align: center;
  position: relative;

  background: linear-gradient(
    to bottom,
    rgba(221, 221, 221, 0.2),
    rgba(134, 38, 51, 0.2)
  );
}

#cotw-hero-video > video {
  width: 100%;
  height: 600px;
  object-fit: cover;
  z-index: 11;
}

.cotw-hero-buttons {
  z-index: 12;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  height: 600px;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  padding-bottom: 3rem;
  background: linear-gradient(
    to bottom,
    rgba(225, 225, 225, 0.1),
    rgba(0, 0, 0, 0.3)
  );
}

.btn-right-mls {
  margin-left: 5px;
}

.btn-w150 {
  width: 150px;
}

@media only screen and (max-width: 576px) {
  #cotw-hero-video,
  #cotw-hero-video > video,
  .cotw-hero-buttons {
    height: 400px;
  }

  .cotw-hero-buttons {
    padding-bottom: 2.3rem;
  }
}

/* ===== CTA ===== */
.cotw-cta {
  background-color: #f3f3f3;
}

.cotw-cta__text {
  color: #198754;
  color: #5a6074;
  letter-spacing: 2px;
}

/* ===== TUITION ===== */
.cotw-card {
  box-shadow: 0 2px 20px rgb(0 0 0 / 15%);
  padding: 1.5rem;
  border-radius: 4px;
}

/* ===== EMPLOYMENT ===== */
.accordion-button.cotw-accordion-button:not(.collapsed) {
  color: #5a6074;
  background-color: #f1f7e7;
}

.accordion-button.cotw-accordion-button:focus {
  border-color: #e9f3d9;
  box-shadow: 0 0 0 0.25rem rgba(147, 197, 75, 0.25);
}

.border-chip {
  border-radius: 6px;
  border: 3px solid #62bc46;
  color: #62bc46;
  font-weight: bold;
  margin-bottom: 3px;
  margin: 10px;
}

.cotw_align-center {
  align-items: center;
}
